<section class="mw-1600">
  <div class="form">
    <form action="/signup" method="POST">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Type your username">
      </div>
      <div class="input-group">
        <label for="username">Email address</label>
        <input type="email" name="email" id="email" placeholder="Type your email address">
      </div>
      <div class="input-group">
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder="**********">
      </div>
      <button type="submit">Create account</button>
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</section>