<section class="mw-1600">
  <div class="form">
    <a href="/auth/google">Signup with Google</a>
    <form action="/signup" method="POST">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Type your username">
      </div>
      <div class="input-group">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" placeholder="Type your email address">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="**********">
      </div>
      <button type="submit">Create account</button>
      {{#if errorMessage}}
      <p>{{errorMessage}}</p>
      {{/if}}
    </form>
    <div class="form-link">
      <a href="/login" title="Forgot password?">Already have an account? Log in</a>
    </div>
  </div>
</section>