/*EDIT-ADD FORMS*/
.form {
  label {
    display: block;
    margin-bottom: 8px;
    color: $soft-green;
    text-transform: capitalize;
  }
  .input-group {
    margin-bottom: 15px;
  }
  input,
  select,
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $dark-green;
    box-shadow: none;
    font-size: 1em;
  }

  .btn {
    width: 100%;
    border: none;
  }

  select {
    height: 40px;
  }

  textarea {
    resize: vertical;
  }

  .inline {
    display: inline-block;
    width: auto;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .image img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 100px;
    position: relative;
    top: 3px;
  }

  .wrapper .col:nth-child(2) {
    width: 100%;
  }
}

#adoption-sitting {
  display: flex;
  justify-content: center;
}

.edit-user {
  label {
    margin: 0;
  }
  .wrapper {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .wrapper .image img {
    right: -15px;
  }
  .wrapper input {
    padding: 5px 0 0 5px;
  }
  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 7px 0;
  }
  .input-group.description {
    align-items: flex-start;
  }
  .input-group.description label {
    padding-top: 10px;
  }
  .input-group.sitter {
    justify-content: initial;
  }
  .input-group.sitter label {
    margin-left: 12px;
  }
  input, select, textarea {
    border: none;
    width: 270px;
  }
  .image img {
    margin: 0;
  }
  .btn {
    margin-top: 30px;
  }
  .delete {
    color: $dark-green;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 100%;
    font-size: 0.9em;
    font-weight: $bold;
  }
}

.card-auth .form {
  .input-group {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $soft-green;
    box-shadow: none;
    font-size: 1em;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
  .input-group .col:nth-child(2) {
    width: 100%;
  }
  span {
    color: $soft-green;
    display: inline-block;
    margin-right: 15px;
  }
  label {
    margin: 0;
    font-size: 0.75em;
  }
  input {
    border: none;
    padding: 0;
  }
  .form-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0;
  }
  .form-link a {
    color: $soft-green;
    font-size: 0.85em;
  }
  .form-link a:first-child:after {
    content: '';
    display: inline-block;
    width: 124px;
    border-bottom: 1px solid $grey-green;
    position: relative;
    top: -4px;
    margin: 0 9px;
  }
  .form-link.signup a {
    width: 100%;
    text-align: center;
  }
  .form-link.signup a:first-child::after {
    display: none !important;
  }
}