<footer>
  <img src="/images/RehomeMeLogo-white.png">
  Rehome Me - A project by <a href="https://github.com/AGustems">Alba Gustems</a> and <a href="https://github.com/juliramon">Juli Ramon</a> 
</footer>