<header>
  <nav>
    <div class="wrapper">
      <a href="/" title="Rehome Me">
        <div class="logo">
          <div class="img-logo">
            <img src="/images/RehomeMeLogo-white.png" alt="RehomeMe-logo">
          </div>
          <h4>Rehome Me</h4>
        </div>
      </a>
      <ul class="nav-links">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/animals">Animals</a>
        </li>
        <li>
          <a class="not-logged" href="/login">Login</a>
        </li>
        <li>
          <a class="not-logged" href="/signup">Signup</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="/privacy-policy">Privacy Policy</a>
        </li>
      </ul>
      <div class="burger">
        <span class="lnr lnr-menu"></span>
      </div>
    </div>
  </nav>
</header>