<div class="rating-container">
  <form action="/rate-user" method="POST" enctype="multipart/form-data">
    <div class="star-widget">
      <input type="radio" name="rate" id="rate-5" value="5">
      <label for="rate-5" class="fa fa-star"></label>
      <input type="radio" name="rate" id="rate-4" value="4">
      <label for="rate-4" class="fa fa-star"></label>
      <input type="radio" name="rate" id="rate-3" value="3">
      <label for="rate-3" class="fa fa-star"></label>
      <input type="radio" name="rate" id="rate-2" value="2">
      <label for="rate-2" class="fa fa-star"></label>
      <input type="radio" name="rate" id="rate-1" value="1">
      <label for="rate-1" class="fa fa-star"></label>
    </div>
    <div class="textarea">
      <textarea name="comment" cols="30" placeholder="Describe your experience..."></textarea>
    </div>
    <div class="btn-rating">
      <button type="submit">Post</button>
    </div>
  </form>
</div>