<div class="box animal">  
  <div class="col">
    <div class="avatar">
      <a href="/user/{{_id}}">
        <img src="{{image}}" alt="">
      </a>
    </div>
  </div>
  <div class="col">
    <a href="/user/{{_id}}">
      <ul>
        <li class="name"><h3>{{username}}</h3></li>
      </ul>
    </a>
  </div>
</div>