<section id="animalsList">
  <div class="header">
    <h1>List of animals</h1>
  </div>
  <div class="animals wrapper">
    {{#each animals}}
      {{> animalCardPublic this}}
      {{else}}
      <p>There are no animals yet</p>
    {{/each}}
  </div>
  {{> addButton}}
</section>