<section class="mw-1600 animal-list">
  <div class="content">
    <div class="filter-bar">
      <form>
        <button class="btn-filter" name="filter" type="submit" value="">
          <img src="/images/none.png">
        </button>
      </form>
      <form>
        <button class="btn-filter" name="filter" type="submit" value="dog">
          <img src="/images/dog.png">
        </button>
      </form>
      <form>
        <button class="btn-filter" name="filter" type="submit" value="cat">
          <img src="/images/cat.png">
        </button>
      </form>
      <form>
        <button class="btn-filter" name="filter" type="submit" value="snake">
          <img src="/images/snake.png">
        </button>
      </form>
      <form>
        <button class="btn-filter" name="filter" type="submit" value="rabbit">
          <img src="/images/bunny.png">
        </button>
      </form>
      <form>
        <button class="btn-filter" name="filter" type="submit" value="bird">
          <img src="/images/parrot.png">
        </button>
      </form>
    </div>
    <div class="header">
      <h1>Pets to adopt</h1>
    </div>
    <div class="animals wrapper">
      {{#each animals}}
      {{> animalCardPublic this}}
      {{else}}
      <p>There are no animals yet</p>
      {{/each}}
    </div>
  </div>
  {{> addButton}}
</section>