<section id="err">
  <div class="image">
    <img src="https://media.giphy.com/media/oDK8A6xUNjD2M/giphy.gif" alt="">
  </div>
  <div class="text">
    <h1>Woof! Page not found...</h1>
    <p>The page you are looking for could not be found</p>
    <a href="{{lastUrl}}" title="Go back" class="btn">Go back</a>
  </div>
</section>