<section class="mw-1600 err bg-auth">
  <div class="card">
    <img src="/images/signs.svg" alt="Exclamation symbols" class="symbols left">
    <div class="image">
      <img src="https://media.giphy.com/media/7rBemb9RiAEtW/giphy.gif" alt="Error 500 cat" class="error-media">
    </div>
    <img src="/images/signs.svg" alt="Exclamation symbols" class="symbols right">
    <div class="text">
      <h1>Miaw! An error occurred...</h1>
      <p>It's not you, it's us. Try again a little later or contact us.</p>
      <a href="{{lastUrl}}" title="Go back" class="btn btn-soft btn-large">Go back</a>
    </div>
  </div>
</section>