<section class="err bg-auth">
  <div class="content mw-1600">
    <div class="card">
      <img src="/images/signs.svg" alt="Exclamation symbols" class="symbols left">
      <div class="image">
        <img src="https://media.giphy.com/media/oDK8A6xUNjD2M/giphy.gif" alt="Error 404 dog" class="error-media">
      </div>
      <img src="/images/signs.svg" alt="Exclamation symbols" class="symbols right">
      <div class="text">
        <h1>Woof! Page not found...</h1>
        <p>The page you are looking for could not be found</p>
        <a href="{{lastUrl}}" title="Go back" class="btn btn-soft btn-large">Go back</a>
      </div>
    </div>
  </div>
</section>