<section id="err">
  <div class="image">
    <img src="https://media.giphy.com/media/7rBemb9RiAEtW/giphy.gif" alt="">
  </div>
  <div class="text">
    <h1>Miaw! An error occurred...</h1>
    <p>It's not you, it's us. Try again a little later or contact us.</p>
    <a href="{{lastUrl}}" title="Go back" class="btn">Go back</a>
  </div>
</section>