<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rehome Me</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&family=Roboto+Slab:wght@500"
    rel="stylesheet">
</head>

<body>
  {{#if userInSession}}
  {{> navbarLogged}}
  {{else}}
  {{> navbarNotLogged}}
  {{/if}}

  <main>
    {{{body}}}
  </main>

  {{>footer}}

  <script src="/javascripts/navbar-script.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>