<section>
  <div class="header">
    <h1>My Profile</h1>
    <p class="sub-h1">Here you will see and edit your profile data</p>
  </div>
  <div class="box">
    <div class="wrapper">
      <div class="col">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/62.jpg" alt="Gilbert Olson">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="name">Gilbert Olson</li>
            <li class="email">gilbert.olson@example.com</li>
            <li class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus, quam eligendi labore sit ducimus vel at odit quasi harum deserunt eveniet et molestiae optio ut, delectus excepturi numquam sunt.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>