<section id="userProfile">
  <div class="header">
    <h1>My Profile</h1>
    <p class="sub-h1">See and edit your profile data and animals added</p>
  </div>
  <div class="box">
    <div class="wrapper">
      <div class="col">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/62.jpg" alt="Gilbert Olson">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="name">Gilbert Olson</li>
            <li class="username">@gilberOlson</li>
            <li class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus, quam eligendi labore sit ducimus vel at odit quasi harum deserunt eveniet et molestiae optio ut, delectus excepturi numquam sunt.</li>
            <li class="edit-profile">
              <a href="#" title="Edit profile" class="btn">Edit profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>Animals added</h1>
  </div>
  <div class="animals wrapper">
    <div class="box">
      <div class="animal">
        <div class="cover" style="background-image: url('https://instagram.fbcn3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/102259163_169704154517378_2438403726811633525_n.jpg?_nc_ht=instagram.fbcn3-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=8DR4qQcTLEAAX-SDkza&oh=0cfbeeb5da4b63b653c6ca6d3a424a2b&oe=5F110700');">
        </div>
        <div class="animal-data">
          <ul>
            <li class="name">Bru</li>
            <li class="size">Size: Small</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="animal">
        <div class="cover" style="background-image: url('https://instagram.fbcn3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/102259163_169704154517378_2438403726811633525_n.jpg?_nc_ht=instagram.fbcn3-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=8DR4qQcTLEAAX-SDkza&oh=0cfbeeb5da4b63b653c6ca6d3a424a2b&oe=5F110700');">
        </div>
        <div class="animal-data">
          <ul>
            <li class="name">Bru</li>
            <li class="size">Size: Small</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="floating-button">
    <a href="#" class="add-btn">Add pet</a>
  </div>
</section>