<section id="userProfile">
  <div class="header">
    <h1>My Profile</h1>
    <p class="sub-h1">See and edit your profile data and animals added</p>
  </div>
  <div class="box">
    <div class="wrapper">
      <div class="col">
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/men/62.jpg" alt="Gilbert Olson">
        </div>
      </div>
      <div class="col">
        <div class="user-data">
          <ul>
            <li class="name">Gilbert Olson</li>
            <li class="username">@gilberOlson</li>
            <li class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus, quam eligendi labore sit ducimus vel at odit quasi harum deserunt eveniet et molestiae optio ut, delectus excepturi numquam sunt.</li>
            <li class="edit-profile">
              <a href="#" title="Edit profile" class="btn">Edit profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <h1>Animals added</h1>
  </div>
  <div class="box">

  </div>
  <div class="floating-button">
    <a href="#" class="add-btn">Add pet</a>
  </div>
</section>