* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif; }

.main {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif; }

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none !important; }

body {
  margin-bottom: 8%; }

.bg-dark {
  background-color: #4D716D; }

.mw-1600 {
  max-width: 1600px;
  margin: 0 auto; }

input:focus,
textarea:focus,
select:focus {
  outline: 0; }

.text-center {
  text-align: center; }

.sep.full {
  border-bottom: 1px solid #86B8B1;
  margin: 0 -20px; }

section {
  padding: 0 20px; }

.p-tb-50 {
  padding-top: 40px;
  padding-bottom: 40px; }

.animal-list,
.sitters-list,
.user-profile {
  height: 87vh; }

/* FEATURED ANIMALS*/
.featured-animals > h2 {
  color: #4D716D; }

.box.animal {
  background-color: #86B8B1;
  border-radius: 15px;
  width: 100%;
  margin: 2% 0;
  padding: 3%; }

.box.animal a {
  color: #FFFFFF; }

.box.animal .buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-top: 10px; }

.box.animal .buttons .btn {
  width: 100px; }

.box.animal .buttons .btn:first-child {
  margin-right: 10px; }

/*ANIMAL BOX*/
.box.animal ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.box.animal .avatar {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden; }

.box.animal .avatar img {
  border-radius: 100px;
  width: 80px;
  height: 80px; }

.box.animal .col:nth-child(2) {
  width: 100%;
  background-size: cover;
  background-position: center center; }

/* ANIMAL CARD CRUD */
.buttons > a:hover {
  text-decoration: underline; }

.box.animal li {
  color: #FFFFFF; }

/* ERROR HANDLING */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 380px; }

.filter-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.btn-filter {
  margin: 15px 4px 4px;
  border: 1px solid #86B8B1;
  padding: 5px 10px;
  border-radius: 8px;
  background: white;
  display: flex; }

.btn-filter > img {
  width: 30px; }

@media screen and (min-width: 800px) {
  .filter-bar {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
  .btn-filter > img {
    width: 50px; } }

@media screen and (min-width: 1024px) {
  .filter-bar {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap; } }

.btn {
  border-radius: 8px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  font-weight: bold;
  display: block;
  text-align: center;
  letter-spacing: 0.6px;
  border: none; }

.btn-dark {
  background-color: #4D716D;
  color: #FFFFFF; }

.btn-dark:hover {
  background-color: #3d5855; }

.btn-soft {
  background-color: #cce0dd;
  color: #4D716D; }

.btn-soft:hover {
  background-color: #c2d4d2; }

.btn-large {
  padding: 1.5vh 4vh;
  font-size: 0.8em; }

.btn-small {
  padding: 1vh 2vh;
  font-size: 0.8em;
  letter-spacing: 0; }

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-gl {
  flex: 1;
  margin-right: 15px;
  margin-bottom: 15px; }

.btn-img img {
  width: 17px;
  height: auto;
  margin-right: 8px; }

.btn-w100 {
  width: 100%; }

.buttons {
  display: flex;
  flex-flow: row wrap; }

.floating-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0px; }
  .floating-button .add-btn {
    height: 70px;
    width: 70px;
    background-color: #4D716D;
    border-radius: 100px;
    display: block;
    text-align: center;
    line-height: 72px;
    transform: rotate(45deg); }
  .floating-button a {
    color: #FFFFFF;
    font-size: 35px; }

.btn-accept {
  background-color: #FFFFFF;
  color: #86B8B1;
  text-transform: uppercase;
  padding: 1.5vh 4vh;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Sans-Serif;
  border: 1px solid #86B8B1;
  border-radius: 15px;
  transition: all 0.4s ease 0s;
  cursor: pointer; }

.btn-accept:hover {
  color: #FFFFFF;
  background-color: #86B8B1;
  border: 1px solid #FFFFFF;
  transition: all 0.4s ease 0s; }

.save-btn {
  width: 50%; }

.card {
  background-color: #FFFFFF;
  box-shadow: 4px 7px 25px rgba(52, 78, 75, 0.8);
  border-radius: 8px;
  padding: 30px 25px; }

.card-auth {
  border-radius: 0 0 20px 20px;
  box-shadow: 0px -2px 62px rgba(33, 49, 47, 0.9);
  padding: 40px 20px 30px 20px;
  background-color: #FFFFFF; }
  .card-auth h1 {
    font-size: 2.4em;
    font-weight: 900;
    color: #4D716D;
    max-width: 70%;
    line-height: 1.2em; }
  .card-auth .sep {
    margin: 20px 0;
    text-align: center; }
  .card-auth .sep span {
    color: #86B8B1; }
  .card-auth .sep span:before {
    content: '';
    display: inline-block;
    width: 60px;
    border-bottom: 1px solid #86B8B1;
    position: relative;
    top: -4px;
    margin-right: 9px; }
  .card-auth .sep span:after {
    content: '';
    display: inline-block;
    width: 60px;
    border-bottom: 1px solid #86B8B1;
    position: relative;
    top: -4px;
    margin-left: 9px; }
  .card-auth .buttons {
    margin-top: 30px; }

.card.flex {
  background-color: #86B8B1;
  margin: 18px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-shadow: none;
  padding: 18px 20px; }
  .card.flex img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #cce0dd;
    display: flex; }
  .card.flex ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    margin-left: 18px; }

.card-links {
  display: flex;
  flex-direction: row;
  padding-left: 20px; }
  .card-links a {
    margin-right: 15px;
    color: #FFFFFF; }

.card-adopt-sitt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%; }
  .card-adopt-sitt form {
    width: 100%; }
    .card-adopt-sitt form .btn {
      width: 100%; }

.crud {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0; }

.link-delete {
  margin-left: 10px;
  width: 40%;
  margin-top: 30px; }

@media only screen and (min-width: 1024px) {
  .card-adopt-sitt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%; }
    .card-adopt-sitt form {
      width: 45%;
      margin: 0 25px; }
      .card-adopt-sitt form .btn {
        width: 100%;
        font-size: 1.4em; }
  .card-auth h1 {
    text-align: center;
    max-width: 100%; } }

.header {
  padding: 20px 0 0;
  margin-bottom: 20px; }
  .header h1 {
    color: #4D716D; }

.comment-section {
  margin: 1% 1%;
  color: #4D716D; }
  .comment-section .comment {
    margin: 5px;
    padding: 5px 15px;
    border: 1px solid #4D716D;
    border-radius: 10px; }

.rating-container {
  width: 100%;
  background-color: #cce0dd;
  padding: 20px 30px;
  border: 2px solid #4D716D;
  border-radius: 5px;
  margin-bottom: 10%; }
  .rating-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden; }

form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #4D716D;
  padding: 10px;
  font-size: 1em;
  resize: none; }

.rating-container .star-widget input {
  display: none; }

.star-widget label {
  font-size: 30px;
  color: #4D716D;
  padding: 10px 2px;
  float: right;
  transition: all 0.2s ease; }

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
  color: #fd4; }

.star-widget input:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #4D716D; }

form .btn {
  cursor: pointer; }

form .btn-rating {
  margin-top: 15px; }

.rating-comment h4,
.pending-comments h3 {
  color: #4D716D;
  margin-bottom: 2%; }

.pending-comments {
  display: flex;
  flex-direction: column;
  align-items: center; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0; }

nav {
  background-color: #86B8B1;
  padding: 0 5% 0 5%;
  border-bottom: 3px solid #FFFFFF; }

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh; }

.img-logo > img {
  padding-right: 25%;
  width: 30px; }

.logo {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3em; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%; }

.nav-links li {
  list-style: none; }

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold; }

.nav-links li form button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer; }

.burger {
  display: none; }

.burger .lnr {
  color: #FFFFFF;
  font-size: 1.8em; }

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden; }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 6.1vh;
    background-color: #86B8B1;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translatex(0%);
    transition: transform 0.5s ease-in; }
  .nav-links li {
    opacity: 0; }
  .burger {
    display: inherit;
    cursor: pointer; } }

.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

main {
  transition: transform 0.5s ease-in;
  transform: translateX(0%);
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden; }

.main-transition {
  transform: translateX(-60%); }

footer {
  height: 4vh;
  width: 100%;
  padding: 1.6em;
  background-color: #4D716D;
  color: #FFFFFF;
  font-size: 0.4em;
  text-align: center;
  position: fixed;
  align-items: center;
  bottom: 0; }

footer > a {
  color: #86B8B1;
  text-decoration: underline; }

footer > img {
  width: 1.2em;
  margin-right: 0.7em; }

@media only screen and (min-width: 1024px) {
  footer {
    height: 6vh;
    font-size: 0.7em; } }

/*EDIT-ADD FORMS*/
.form {
  margin-bottom: 30px; }
  .form label {
    display: block;
    margin-bottom: 8px;
    color: #86B8B1;
    text-transform: capitalize; }
  .form .input-group {
    margin-bottom: 15px; }
  .form input,
  .form select,
  .form textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #4D716D;
    box-shadow: none;
    font-size: 1em; }
  .form .btn {
    width: 100%;
    border: none; }
  .form select {
    height: 40px; }
  .form textarea {
    resize: vertical; }
  .form .inline {
    display: inline-block;
    width: auto; }
  .form .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
  .form .image img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 100px;
    position: relative;
    top: 3px; }
  .form .wrapper .col:nth-child(2) {
    width: 100%; }

#adoption-sitting {
  display: flex;
  justify-content: center; }

.edit-user label {
  margin: 0; }

.edit-user .wrapper {
  flex-flow: column nowrap;
  align-items: flex-start; }

.edit-user .wrapper .image img {
  right: -15px; }

.edit-user .wrapper input {
  padding: 5px 0 0 5px; }

.edit-user .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 7px 0; }

.edit-user .input-group.description {
  align-items: flex-start; }

.edit-user .input-group.description label {
  padding-top: 10px; }

.edit-user .input-group.sitter {
  justify-content: initial; }

.edit-user .input-group.sitter label {
  margin-left: 12px; }

.edit-user input,
.edit-user select,
.edit-user textarea {
  border: none;
  width: 270px; }

.edit-user .image img {
  margin: 0; }

.edit-user .btn {
  margin-top: 30px; }

.edit-user .delete {
  color: #4D716D;
  bottom: 20px;
  margin: 0 auto;
  width: 100%;
  font-size: 0.9em;
  font-weight: 900; }

.card-auth .form .input-group {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #86B8B1;
  box-shadow: none;
  font-size: 1em;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap; }

.card-auth .form .input-group .col:nth-child(2) {
  width: 100%; }

.card-auth .form span {
  color: #86B8B1;
  display: inline-block;
  margin-right: 15px; }

.card-auth .form label {
  margin: 0;
  font-size: 0.75em; }

.card-auth .form input {
  border: none;
  padding: 0; }

.card-auth .form .form-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 0; }

.card-auth .form .form-link a {
  color: #86B8B1;
  font-size: 0.85em; }

.card-auth .form .form-link a:first-child:after {
  content: '';
  display: inline-block;
  width: 124px;
  border-bottom: 1px solid #cce0dd;
  position: relative;
  top: -4px;
  margin: 0 9px; }

.card-auth .form .form-link.signup a {
  width: 100%;
  text-align: center; }

.card-auth .form .form-link.signup a:first-child::after {
  display: none !important; }

.rehome-me {
  background-position: center center;
  background-image: url("/images/bubbles.svg");
  background-repeat: repeat;
  background-color: #86B8B1; }
  .rehome-me .hero {
    padding: 50px 20px;
    margin: 0 -20px; }
  .rehome-me .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: left; }
  .rehome-me h1 {
    margin: 0;
    font-size: 1.8em;
    line-height: 1.3em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); }
  .rehome-me .buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex: 1; }
  .rehome-me .buttons .btn {
    width: 100%; }
  .rehome-me .buttons .btn:last-child {
    margin-top: 8px; }

.process,
.featured-animals {
  text-align: center;
  border-bottom: 1px dotted #86B8B1; }

.process h2,
.process h3,
.process h4,
.process h5,
.process .lnr,
.featured-animals h2,
.featured-animals h3,
.featured-animals h4,
.featured-animals h5,
.featured-animals .lnr {
  color: #4D716D; }

.features {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }

.feature-card {
  width: 100%;
  margin: 0 auto;
  padding: 15px; }

.feature-card .lnr {
  font-size: 30px;
  margin-bottom: 8px; }

@media only screen and (min-width: 700px) {
  .hero .titles {
    font-size: 1.2em;
    margin-left: 10px; }
  .hero .buttons {
    display: flex;
    margin-top: 50px;
    justify-content: center; }
  .hero .buttons .btn-large {
    font-size: 1.1em;
    width: 35%;
    margin: 0 20px; }
  .hero .buttons .btn:last-child {
    margin-top: 0; }
  .content .header h2 {
    font-size: 2.4em; }
  .content .feature-card .lnr {
    font-size: 4em; }
  .content .feature-icon {
    margin-bottom: 10px; }
  .content .feature-explanation {
    font-size: 1.2em; } }

@media only screen and (min-width: 1024px) {
  .hero .titles {
    font-size: 1.5em;
    text-align: center; }
  .hero .buttons {
    display: flex;
    margin-top: 50px;
    justify-content: center; }
  .hero .buttons .btn-large {
    font-size: 1.1em;
    width: 35%;
    margin: 0 20px; }
  .hero .buttons .btn:last-child {
    margin-top: 0; }
  .content .header h2 {
    font-size: 2.4em; }
  .content .features {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly; }
  .content .feature-card {
    padding: 50px; }
  .content .feature-card .lnr {
    font-size: 4em; }
  .content .feature-icon {
    margin-bottom: 10px; }
  .content .feature-explanation {
    font-size: 1.2em; }
  .featured-animals .content .card {
    margin: 20px 150px; } }

/*USER PROFILE*/
.user-profile .header {
  display: none; }

.user-profile .cover {
  height: 100px;
  margin: 0 -20px; }

.user-profile .user .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }

.user-profile .user .col.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.user-profile .user .avatar img {
  margin-top: -40px;
  border: 5px solid #FFFFFF;
  border-radius: 100px;
  width: 95px;
  height: 95px; }

.user-profile .user .user-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px; }

.user-profile .user ul li.username {
  color: #888888;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 10px; }

.user-profile .user ul li.description {
  font-size: 0.9em;
  line-height: 1.5em; }

.user-profile .user ul li.isSitter {
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 10px; }

.user-profile .tabs {
  width: 100%;
  overflow-x: scroll; }
  .user-profile .tabs ul {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .user-profile .tabs ul li {
    padding: 4px 10px 0 10px; }
  .user-profile .tabs ul li a {
    font-family: "Roboto Slab", serif;
    color: #86B8B1; }
  .user-profile .tabs ul li a.active {
    color: #4D716D; }
  .user-profile .tabs ul li a.active:after {
    content: '';
    display: block;
    height: 4px;
    width: auto;
    background: #4D716D;
    position: relative;
    top: 4px; }

.fake-link {
  background: none;
  border: none;
  padding: 0;
  color: #86B8B1;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8em; }

.fake-link.active {
  background: none;
  border: none;
  border-bottom: 2px solid #4D716D;
  padding: 0;
  color: #4D716D;
  font-weight: 900;
  cursor: pointer; }

@media only screen and (min-width: 1024px) {
  .user-profile .tabs {
    overflow-x: hidden; } }

/* ANIMAL DETAILS PAGE */
.animal-details {
  margin-top: 2%; }
  .animal-details h1 {
    color: #4D716D; }

.animal-text {
  padding: 3%;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px; }

.animal-text h3 {
  text-decoration: underline; }

.animal-routine {
  margin-top: 8%; }

.animal-data {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 0 0 0;
  padding: 0; }

.animal-photo {
  margin: 0 auto; }

.details-list {
  width: 100%;
  padding: 3%;
  color: #4D716D;
  border: 2px solid #86B8B1;
  border-radius: 10px;
  margin-top: 20px; }

.details-list > ul {
  list-style: none; }

.animal-photo > img {
  width: 200px;
  height: 200px;
  border-radius: 100%; }

.animal-text {
  margin: 20px 0;
  background-color: #86B8B1; }

.animal-adoption {
  padding: 0 0 70px 0;
  display: flex;
  flex-flow: row nowrap; }

.animal-adoption .hire {
  padding: 2%;
  margin: 2% 3% 20% 3%;
  padding: 5%;
  color: #4D716D;
  border: 2px solid #86B8B1;
  border-radius: 20px;
  text-align: center; }

.animal-adoption > form {
  margin-top: 3%; }

.animal-adoption .input-group {
  margin: 15px; }

@media screen and (min-width: 1024px) {
  .animal-data {
    flex-flow: row nowrap;
    align-items: center; }
  .animal-photo {
    margin-right: 30px; }
  .comment-section h3 {
    font-size: 2em;
    margin-bottom: 20px; }
  .animal-routine {
    margin-top: 2%; }
  .animal-adoption {
    display: flex;
    justify-content: center;
    align-items: center; }
  .animal-adoption form {
    margin: 0 0 0 15px; }
  .animal-adoption .hire {
    width: 50%; } }

.err {
  display: flex;
  align-items: center; }
  .err .card {
    position: relative;
    top: -100px;
    width: 100%;
    margin: 0 30px; }
  .err .image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
    margin: 0 auto;
    position: relative; }
  .err .error-media {
    width: 150px;
    height: 150px; }
  .err .symbols {
    position: absolute;
    width: 30px; }
  .err .symbols.left {
    left: 80px;
    transform: rotate(-37deg); }
  .err .symbols.right {
    right: 73px;
    transform: rotate(138deg);
    top: 140px; }
  .err h1 {
    margin-top: 30px; }
  .err .text {
    text-align: center; }
  .err .text p {
    font-weight: 700;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 18px; }

.bg-auth {
  background-image: url("/images/bubbles.svg");
  background-repeat: repeat;
  background-color: #86B8B1;
  height: calc(100vh - 50.38px); }

.add-animal .bg-auth {
  margin: 0 -20px;
  padding: 0 20px; }

/*# sourceMappingURL=main.css.map */