$dark-green: #4D716D;
$soft-green: #86B8B1;
$white: #FFFFFF;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mw-1600 {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 45px 20px;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

/* Responsive NavBar */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav {
  background-color: $soft-green;
  padding: 0 5% 0 5%;
  border-bottom: 1px solid $white;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
}

.img-logo>img {
  padding-right: 25%;
  width: 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: $white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li form button {
  background-color: transparent;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
}

.burger {
  display: none;
}

.burger i {
  color: $white;
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6.1vh;
    background-color: $soft-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }

  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

/* Index Page */
.rehome-me {
  padding: 50px;
  background-image: url('../images/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 15px 30px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  color: $dark-green;
  text-align: center;
}

.buttons-log {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.buttons-log>form {
  margin: 3%;
}

input[type=submit],
button[type=submit] {
  background-color: $white;
  color: $soft-green;
  text-transform: uppercase;
  padding: 1.5vh 4vh;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Sans-Serif;
  border: 1px solid $soft-green;
  border-radius: 15px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

input[type=submit]:hover,
button[type=submit]:hover {
  color: $white;
  background-color: $soft-green;
  border: 1px solid $white;
  transition: all 0.4s ease 0s;
}

.process {
  text-align: center;
  border-bottom: 1px dotted $soft-green;
}

.process {

  h2,
  h3,
  h4,
  h5,
  .fa {
    color: $dark-green;
  }
}

.features {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.feature-card {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.feature-card .fa {
  font-size: 30px;
  margin-bottom: 8px;
}

/*USER PROFILE*/
#userProfile {
  padding-top: 15px;
}

#userProfile .header>h1,
h2,
p {
  margin: 10px 0;
  color: $dark-green
}

#userProfile .user.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 4%;
  border: 2px solid $soft-green;
  border-radius: 20px;
}

#userProfile .user.wrapper .col:nth-child(2) {
  margin-left: 20px;
}

#userProfile .user.wrapper .user-data ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#userProfile .user.wrapper .avatar img {
  border-radius: 100px;
  width: 85px;
  height: 85px;
}

#userProfile .edit-profile .btn {
  border: 1px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  display: block;
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  overflow: hidden;
}

.floating-button .add-btn {
  height: 70px;
  width: 70px;
  background-color: $soft-green;
  border-radius: 70px;
  display: block;
  text-align: center;
  line-height: 72px;
}

.floating-button>a {
  color: $white;
  font-size: 35px;
}

/*ANIMAL BOX*/

.box.animal {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.box.animal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box.animal .avatar {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;
}

.box.animal .avatar img {
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

.box.animal .col:nth-child(2) {
  width: 100%;
  background-size: cover;
  background-position: center center;
}

/* ANIMAL DETAILS PAGE */
#details-main {
  margin-top: 5%;
}

#details-main>h2 {
  margin-left: 5%;
  color: $dark-green;
}

.animal-text {
  padding: 3%;
  color: $white;
  text-align: center;
  border-radius: 10px;
}

.animal-text {
  h3 {
    text-decoration: underline;
  }
}

.animal-routine {
  margin-top: 8%;
}

.animal-data {
  display: flex;
}

.animal-photo {
  width: 250px;
  height: 250px;
  padding: 2%;
  margin-right: 10px;
}

.details-list {
  width: 50%;
  padding: 3%;
  color: $dark-green;
  border: 2px solid $soft-green;
  border-radius: 10px;
}

.details-list>ul {
  list-style: none;
}

.animal-photo>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.animal-text {
  margin: 10% 2%;
  background-color: $soft-green;
}

/* FEATURED ANIMALS*/
.featured-animals>h2 {
  color: $dark-green;
}

.box.animal {
  background-color: $soft-green;
  border-radius: 15px;
  width: 100%;
  margin: 2% 0;
  padding: 3%;
}

.box.animal a {
  color: $white;
}

.box.animal .buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-top: 10px;
}

.box.animal .buttons .btn {
  width: 100px;
}

.box.animal .buttons .btn:first-child {
  margin-right: 10px;
}

/* ANIMAL CARD CRUD */
.buttons>a:hover {
  text-decoration: underline;
}

/*EDIT-ADD FORMS*/
.form {
  label {
    display: block;
    margin-bottom: 8px;
    color: $dark-green;
  }

  .input-group {
    margin-bottom: 15px;
  }

  input,
  select,
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $dark-green;
    box-shadow: none;
    font-size: 1em;
  }

  select {
    height: 40px;
  }

  textarea {
    resize: vertical;
  }

  .inline {
    display: inline-block;
    width: auto;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .image img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 100px;
    position: relative;
    top: 3px;
  }

  .wrapper .col:nth-child(2) {
    width: 100%;
  }
}

/* FOOTER */
footer {
  width: 100%;
  margin-top: 2%;
  padding: 1.6em;
  background-color: $dark-green;
  color: $white;
  font-size: 0.7em;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer>a {
  color: $soft-green;
  text-decoration: underline
}

footer>img {
  width: 1.2em;
  margin-right: 0.7em;
}

/* ERROR HANDLING */
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 380px;
}